---
import { productList } from "../../typescript/constants";
import ProductCard from "./ProductCard.astro";
---

<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 md:gap-8">
    {
        productList.map((product) => (
            <ProductCard
                image={product.image}
                name={product.name}
                desc={product.desc}
                price={product.price}
            />
        ))
    }
</div>
