---
//import { gameIconList } from "../../typescript/constants";
import Skill from "./Skill.astro";
---

{/* <div class="content flex justify-center gap-8 mt-12">
    {gameIconList.map((svg) => <Skill icon={svg.icon} name={svg.name} />)}
</div>*/}
