---
import { Icon } from "astro-icon/components";

interface Props {
    icon: string;
    name: string;
    href: string;
}
const { icon, name, href } = Astro.props;
---

<a href={href} target=="_blank" class="bg-neutral-600 hover:bg-rose-500 transition-colors duration-200 rounded-full size-9 flex justify-center items-center"><Icon name={icon} size={18} /></a>
