---
import Title from "../components/ui/Title.astro";
import Layout from "../layouts/Layout.astro"
import AppSkills from "../components/skills/AppSkills.astro";
import Slider from "../components/ui/Slider.astro";
---

<Layout
  title="Daniel Reyes - Desarrollador de Software"
  description="Contrata a Daniel Reyes para crear tu aplicacion Web o Movil. Desarrollador y Programador. Aplicaciones unicas y escalables"
>
  <section class="">
    <Title title="About" />
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-8">
      <div class="w-full">
        <h1 class="text-xl font-bold">Daniel Reyes</h1>
        <h2 class="text-lg font-bold text-color-1">Software Developer</h2>
        <p class="text-pretty my-4">
          I am a Software developer living in Jalisco Mexico. <span
            class="font-semibold text-color-1">My training is in web development</span
          >, my primary interest is create functional software for the real
          world. I think that one of the essential goals of our generation is to
          understand how works technology.
        </p>
        <div class="flex space-x-3">
          <button class="button">Download CV</button>
          <button class="button">Contact</button>
        </div>
      </div>
      <a class="w-full" href="/portfolio">
        <Slider />
      </a>
    </div>
  </section>
  <hr class="border-neutral-300 dark:border-neutral-600 my-10" />
  <section class="">
    <Title title="Skills" />
    <AppSkills />
  </section>
</Layout>
