---
import Layout from "../layouts/Layout.astro";
import Title from "../components/ui/Title.astro";
import Products from "../components/products/Products.astro";
---

<Layout title="Store">
    <section class="">
        <Title title="Store" />
        <Products />
    </section>
</Layout>
