---
import { Icon } from "astro-icon/components";
import SocialLinks from "../social/SocialLinks.astro";
import NavbarLinks from "./NavbarLinks.astro";
---

<header class="mt-14">
    <div class="content flex items-center justify-between text-lg">
        <div class="flex"><SocialLinks /></div>
        <div class="flex "><NavbarLinks /></div>
        {/* <div class="hidden md:flex flex-1 items-center justify-end space-x-8">
            <a href="" class="">
                <Icon name="general/cart" size={30} />
            </a>
            <a href="" class="">
                <img
                    src="https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?q=80&w=1985&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Profile photo"
                    class="w-12 h-12 object-cover rounded-full border-2 border-rose-500"
                />
            </a>
            
        </div>*/}
    </div>
</header>
