---
import { getRelativeLocaleUrl } from "astro:i18n";
import { menuLinks } from "../../typescript/constants";
import NavbarLink from "./NavbarLink.astro";
import type { Lang } from "@/i18n/defaultLangOptions";
const currentLocale = Astro.currentLocale as Lang;
---

<ul
  class="font-semibold flex md:flex-row md:space-y-0 md:space-x-9 gap-4 md:gap-0"
>
  {
    menuLinks[currentLocale].map((link) => (
      <li>
        <NavbarLink
          name={link.name}
          href={getRelativeLocaleUrl(currentLocale, link.href)}
        />
      </li>
    ))
  }
</ul>
