---
import SocialLinks from "../social/SocialLinks.astro";
import NavbarLinks from "./NavbarLinks.astro";
---

<header class="mt-14">
    <div class="content flex items-center justify-between text-lg">
        <div class="flex"><SocialLinks /></div>
        <div class="flex "><NavbarLinks /></div>
    </div>
</header>
