---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Error 404" description="Pagina no encontrada">
  <div
    class="content h-[680px] flex flex-col items-center justify-center space-y-8"
  >
    <div class="text-center">
      <p class="text-3xl font-bold">Error 404</p>
      <p class="text-2xl font-bold">Pagina no encontrada</p>
    </div>
    <img
      src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExY3Z2dWg0ejB3cGN6c2hoZHJvOGp3cGhlcWNscGxtYWViNXBkc2Z0YSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/QMHoU66sBXqqLqYvGO/giphy.gif"
      alt=""
      class="rounded-xl"
    />
    <a href="/" class="text-xl">Regresar a Inicio</a>
  </div>
</Layout>
