---
import "../styles/globals.css";
import "@fontsource-variable/onest";
import Footer from "../components/ui/Footer.astro";
import Navbar from "../components/navbar/Navbar.astro";
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const currentLocale = Astro.currentLocale;
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="bg-[#EEF4F7] text-neutral-800
    dark:bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] dark:from-gray-800 dark:to-neutral-800 dark:text-neutral-100 mb-10 md:my-12 lg:my-14"
  >
    <Navbar />
    <main class="content my-12 md:my-16 lg:my-20">
      <slot />
    </main>
    <Footer>
      <p
        class="flex items-center text-sm font-bold text-neutral-500 dark:text-neutral-400"
      >
        {
          currentLocale === "es"
            ? "Hecho con por Daniel Reyes"
            : "Made with by Daniel Reyes"
        }
      </p>
    </Footer>
  </body>
</html>
