---
import { Icon } from "astro-icon/components";
---

<footer>
  <div class="content flex flex-col items-center justify-center space-y-3.5">
    <p class="flex items-center text-sm font-bold text-neutral-400">
      Made with <Icon name="general/heart" size={22} class="mx-1" /> by Daniel Reyes
    </p>
  </div>
</footer>
